# **Netflix's Stock Price Changes Over Time**

Netflix, Inc. is an American subscription streaming service and production company founded in 1997 by Reed Hastings and Marc Randolph in Scotts Valley, California. Initially, Netflix started as a DVD rental service, pioneering the model of online rentals with no late fees. In 2007, the company transitioned into streaming media, revolutionizing the entertainment industry by offering a vast library of movies and TV shows accessible on-demand. Netflix further expanded its influence by producing original content, beginning with the series "House of Cards" in 2013. Today, Netflix is a global powerhouse in entertainment, with over 200 million subscribers worldwide and a diverse portfolio of acclaimed original series, films, and documentaries.

This dataset provides a comprehensive record of Netflix's stock price changes over time. It includes essential columns such as the date, opening price, highest price of the day, lowest price of the day, closing price, adjusted closing price, and trading volume.

This data is invaluable for conducting historical analyses, forecasting future stock performance, and understanding market trends related to Netflix's stock.

In [1]:
import pandas as pd

In [2]:
netflix_df = pd.read_csv("Netflix Dataset.csv")

In [3]:
netflix_df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [4]:
netflix_df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
5535,2024-05-20,620.400024,644.369995,619.520020,640.820007,640.820007,3857900
5536,2024-05-21,636.760010,650.880005,634.219971,650.609985,650.609985,2920200
5537,2024-05-22,647.140015,649.250000,638.119995,640.469971,640.469971,2176200
5538,2024-05-23,642.340027,642.710022,630.000000,635.669983,635.669983,2313900
5539,2024-05-24,639.400024,652.000000,637.599976,646.750000,646.750000,2613300

In [5]:
netflix_df.shape

(5540, 7)

In [7]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5540 entries, 0 to 5539
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5540 non-null   object
 1   Open       5540 non-null   float64
 2   High       5540 non-null   float64
 3   Low        5540 non-null   float64
 4   Close      5540 non-null   float64
 5   Adj Close  5540 non-null   float64
 6   Volume     5540 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 303.1+ KB

In [12]:
netflix_df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [13]:
netflix_df.index

RangeIndex(start=0, stop=5540, step=1)

In [14]:
netflix_df.values

array([['2002-05-23', 1.156429, 1.242857, ..., 1.196429, 1.196429,
        104790000],
       ['2002-05-24', 1.214286, 1.225, ..., 1.21, 1.21, 11104800],
       ['2002-05-28', 1.213571, 1.232143, ..., 1.157143, 1.157143,
        6609400],
       ...,
       ['2024-05-22', 647.140015, 649.25, ..., 640.469971, 640.469971,
        2176200],
       ['2024-05-23', 642.340027, 642.710022, ..., 635.669983,
        635.669983, 2313900],
       ['2024-05-24', 639.400024, 652.0, ..., 646.75, 646.75, 2613300]],
      dtype=object)

In [15]:
netflix_df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5540.000000,5540.000000,5540.000000,5540.000000,5540.000000,5.540000e+03
mean,140.532640,142.672456,138.337011,140.561354,140.561354,1.569438e+07
std,182.387899,184.938036,179.723418,182.376297,182.376297,1.862414e+07
min,0.377857,0.410714,0.346429,0.372857,0.372857,2.856000e+05
25%,4.165893,4.245714,4.080000,4.163036,4.163036,5.751000e+06
50%,35.942858,36.778572,35.346429,36.154285,36.154285,9.830450e+06
75%,282.360008,287.464989,275.742500,282.892502,282.892502,1.859220e+07
max,692.349976,700.989990,686.090027,691.690002,691.690002,3.234140e+08